<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="main">
        <!-- .col -->
        <div class="col">
            <div class="wrapper">


                <div class="margin-b">
                    <a class="pull-left thumb-xs avatar"><img src="img/default_avatar.png" class="img-circle" alt="..."></a>
                    <form class="m-b-none m-l-xl ng-pristine ng-valid"  id="timeline-post" ng-submit="createPost(post)">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Say something" ng-model="post">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">SEND</button>
                            </span>
                        </div>
                    </form>
                </div>


                <div class="m-b b-l m-l-md streamline animated fadeInUp"
                     ng-repeat="post in posts | orderBy: '-createdAt' ">
                    <div>
                        <a class="pull-left thumb-sm avatar m-l-n-md">
                            <img src="img/default_avatar.png" class="img-circle" alt="...">
                        </a>
                        <div class="m-l-lg panel b-a">
                            <div class="panel-heading pos-rlt b-b b-light">
                                <span class="arrow left"></span>
                                <a href="">John smith</a>
                                <label class="label bg-info m-l-xs">Editor</label>
                              <span class="text-muted m-l-sm pull-right">
                                <i class="fa fa-clock-o"></i>
                                Just now
                              </span>
                            </div>
                            <div class="panel-body">
                                <div>{{post.content }}</div>
                                <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
                                    <span class="arrow top pull-left"></span>
                                    <form class="ng-pristine ng-valid">
                                        <textarea class="form-control no-border" rows="3" placeholder="Your comment..."></textarea>
                                    </form>
                                    <button class="btn btn-info pull-right btn-sm" style="margin-top:10px;">Comment</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <!-- / main -->


</div>






