
<div id="nav-wrapper">
    <ul id="nav"
        data-highlight-active
        data-slim-scroll
        data-collapse-nav>
        <li><a data-ui-sref="timeline"> <i class="fa fa-tachometer"></i><span data-i18n="dashboard"></span></a></li>
        <li><a data-ui-sref="courses({subject: ''})"> <i class="fa fa-pencil-square-o"></i><span data-i18n="courses"></span></a></li>
        <li><a data-ui-sref="studentSchedule({id: user.id})"> <i class="fa fa-calendar"></i><span data-i18n="schedule"></span></a></li>
        <li><a data-ui-sref="message.inbox"> <i class="fa fa-envelope-o"></i><span data-i18n="messages"></span></a></li>
        <li><a data-ui-sref="teacherNotifications"> <i class="fa fa-bell"></i><span data-i18n="notifications"></span></a></li>
        <li><a data-ui-sref="homework"> <i class="fa fa-tasks"></i><span data-i18n="homework-help"></span></a></li>
        <li><a data-ui-sref="files"> <i class="fa fa-cloud-download"></i><span data-i18n="documents"></span></a></li>
        <li><a data-ui-sref="allClasses"> <i class="fa fa-flask"></i><span data-i18n="classes"></span></a></li>
        <li><a data-ui-sref="absence"> <i class="fa fa-briefcase"></i><span data-i18n="absence"></span></a></li>
        <li><a data-ui-sref="viewHandIns"> <i class="fa fa-pencil-square-o"></i><span data-i18n="handins"></span> </a></li>
        <li><a data-ui-sref="resultTeacher"> <i class="fa fa-bar-chart-o"></i><span data-i18n="marks"></span></a></li>
        <li><a data-ui-sref="applications"> <i class="fa fa-windows"></i><span data-i18n="applications"></span> </a></li>
        <li data-ng-controller="playerCtrl">
            <a href="javascript:;" id="player">
                <marquee>{{title}}</marquee><br />
                <audio media-player="player" id="playlist"></audio>
                <span><i class="fa fa-headphones"></i></span>
                <span data-ng-click="player.play(0)"><i class="fa fa-fast-backward"></i></span>
                <span data-ng-show="player.playing" data-ng-click="player.pause()"><i class="fa fa-pause"></i></span>
                <span data-ng-show="!player.playing" data-ng-click="player.play()"><i class="fa fa-play"></i></span>
                <span data-ng-click="player.next(true)"><i class="fa fa-fast-forward"></i></span>
            </a>
        </li>
    </ul>
</div>
