<style>
    .dropzone{
        border: 1px dashed grey;
        min-height: 88px;
        padding:30px;
    }
</style>

<!-- Modal -->
<div class="modal-header">
    <h3 class="modal-title" style="text-align:center">Uploadez votre photo profil</h3>
</div>
<div class="modal-body">
    <form action="/file/upload" class="dropzone" upload id="dropzone">
        <div class="dz-default dz-message">Ajoutez votre photo profil ici</div>
        <input type="hidden" value="{{owner}}" name="owner" id="owner"/>
        <input type="hidden" value="{{parent}}" name="parent" id="parent"/>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" data-ng-click="close()">
        Annuler</button>
</div>