

<div class="row">

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">


    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs" style="visibility:hidden;">
        <a href class="btn no-shadow navbar-btn">
            Logo ICI
        </a>
    </div>

    <!-- /menu -->
    <div class="nav navbar-nav hidden-xs animated fadeInLeft">
          <a href="" class="btn no-shadow navbar-btn">
            <i class="fa fa-home"></i>
            Accueil
          </a>

        </div>

            <div class="nav navbar-nav hidden-xs animated fadeInLeft">
          <a href="" class="btn no-shadow navbar-btn">
            <i class="fa fa-slack"></i>
            Découvrir
          </a>

        </div>

        <div class="nav navbar-nav hidden-xs animated fadeInLeft">
          <a href="" class="btn no-shadow navbar-btn">
            <i class="fa fa-inbox"></i>
            Messages
          </a>

        </div>
    <!-- /menu -->

    <!-- / buttons -->
    <form class="navbar-form navbar-form-sm navbar-left shift ng-pristine ng-valid ng-scope animated fadeInLeft" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" ng-model="selected" class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid ng-touched" placeholder="Recherche..." aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-33-1702"><ul class="dropdown-menu ng-isolate-scope ng-hide" ng-show="isOpen()" ng-style="{top: position.top+'px', left: position.left+'px'}" style="display: block;;display: block;" role="listbox" >
    <!-- ngRepeat: match in matches track by $index -->
</ul>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>



        <a href="javascript:;"
           class="pull-right"
           style="font-size:1.4em; color:white; margin:10px 30px 0px 0px;"
           data-ng-click="logout()">
            <i class="fa fa-power-off"></i>
        </a>

        <a href=""
           class="btn no-shadow navbar-btn h3 pull-right animated fadeInRight"
           id="tweet"
           data-ng-click="open('tweet')">
                    <i class="fa fa-paper-plane"></i>
            Tweeter
        </a>


</div>
</div>


