

<div class="row">

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">


    <!-- nom -->
    <div class="nav navbar-nav hidden-xs logo-hide">
        <a href="#" class="">
            <img src="img/suricate.svg" height="40" width="80" style="padding-top:10px;" alt="logo vocaliz">
        </a>
    </div>

    <!-- /menu -->
    <div class="nav navbar-nav hidden-xs animated fadeInLeft" ng-if="isAuthenticated()">

        <div class="nav navbar-nav hidden-xs animated fadeInLeft menu-item">
          <a data-ui-sref="app.timeline" class="btn no-shadow navbar-btn">
            <i class="fa fa-slack"></i>
            Timeline
          </a>

        </div>

        <div class="nav navbar-nav hidden-xs animated fadeInLeft menu-item">
          <a data-ui-sref="app.favorites({id: current_user})" class="btn no-shadow navbar-btn">
            <i class="fa fa-star"></i>
            Favoris
          </a>

        </div>
    </div>
    <!-- /menu -->

    <!-- / buttons -->
    <form class="navbar-form navbar-form-sm navbar-left shift ng-pristine ng-valid ng-scope animated fadeInLeft"
          role="search"
          data-ng-submit="getProfile(term)">
          <div class="form-group">
            <div class="input-group">
 <!--             <input type="text"
                     ng-model="selected"
                     class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid ng-touched"
                     placeholder="Recherche..."
                     typeahead="state for state in states | filter:$viewValue | limitTo:8"
                     >-->

                <input type="text"
                       ng-model="term"
                       placeholder="Recherchez ici..."
                       typeahead="user as user.account_name for user in search($viewValue)"
                       typeahead-loading="loadingLocations"
                       class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid ng-touched">

              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>



        <a href="javascript:;"
           class="pull-right"
           style="font-size:1.4em; color:white; margin:12px 30px 0px 0px;"
           data-ng-click="logout()">
            <i class="fa fa-power-off"></i>
        </a>

        <a href=""
           class="btn no-shadow navbar-btn h3 pull-right animated fadeInRight"
           id="tweet"
           data-ng-click="open()">
                    <i class="fa fa-paper-plane"></i>
            Tweeter
        </a>


</div>
</div>


