<div id="content" class="col-lg-12">
    <!-- REGISTER -->
            <div class="col-md-8 col-md-offset-2">
                <div class="login-box-plain">
                    <h2 class="bigintro">Register</h2>
                    <div class="divide-40"></div>
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <i class="fa fa-font"></i>
                            <input type="text" class="form-control" id="firstname" name="firstname" >
                        </div>
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" id="lastname" name="lastname" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <i class="fa fa-envelope"></i>
                            <input type="email" class="form-control" id="email" name="email" >
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <i class="fa fa-phone"></i>
                            <input type="text" class="form-control" id="phone" name="phone" >
                        </div>
                        <div class="form-group">
                            <label for="pAddress">Postal Address</label>
                            <i class="fa fa-home"></i>
                            <input type="text" class="form-control" id="postal" name="postal" >
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" id="password" name="password" >
                        </div>
                        <div class="form-group">
                            <label for="password2">Repeat Password</label>
                            <i class="fa fa-check-square-o"></i>
                            <input type="password" class="form-control" id="password2" name="password2" >
                        </div>
                                                <div class="form-group">
                                                    <label for="type">Type</label>
                                                    <i class="fa fa-check-square-o"></i>
                                                    <input type="text" class="form-control" id="type" name="type" value="professeur" >
                                                </div>
                        <div class="form-actions">
                            <label class="checkbox"> <input type="checkbox" class="uniform" value=""> I agree to the <a href="login.html#">Terms of Service</a> and <a href="login.html#">Privacy Policy</a></label>
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </div>
                    </form>
                    <!-- SOCIAL REGISTER -->
                    <div class="divide-20"></div>
                    <div class="center">
                        <strong>Or register using your social account</strong>
                    </div>
                    <div class="divide-20"></div>
                    <div class="social-login center">
                        <a class="btn btn-primary btn-lg">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-info btn-lg">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-lg">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                    <!-- /SOCIAL REGISTER -->
                </div>
            </div>
    <!--/REGISTER -->
</div>