

<!-- Background -->
<div class="bg">
    <div class="wrapper main-panel">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-8">
                <h1 class="m-n h1 text-white">Bienvenue sur Twitter.</h1>
                <p class="text-white h3 m-t">Connectez-vous à vos amis — et d'autres personnes fascinantes. Recevez des mises à jour instantanées sur les choses qui vous intéressent. Et regardez les événements se dérouler, en temps réel, sous tous les angles.</p>
            </div>

            <div class="col-md-1"></div>

            <!-- login panel -->
            <div class="col-md-4 col-sm-10 col-xs-8">
                <div class="panel padder-v item">
                    <form class="login-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Adresse email">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Mot de passe">
                        </div>

                        <button class="btn btn-info">Connexion</button>

                    </form>
                </div>
            </div>
            <!-- /login panel -->
        </div>

        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="panel padder-v item">
                    <h3 style="text-align:center;margin-top:0px;">Nouveau sur twitter?</h3>
                    <form class="login-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Nom complet">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Adresse email">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Mot de passe">
                        </div>

                        <button class="btn btn-success">S'inscrire</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>