<style>
    .hbox .col{display: table-cell}
</style>
<div class="hbox">
    <div class="wrapper">
        <div class="col timeline">
            <div class="row">
                <!-- user information -->
                <div class="col-md-3 animated fadeInLeftBig">
                    <div class="col-md-12">
                        <div class="panel b-a">
                            <div class="panel-heading bg-info dk no-border wrapper-lg"></div>
                            <div class="text-center m-b clearfix">
                              <div class="thumb-lg avatar m-t-n-xxl" data-ui-sref="app.profile({ name: user.account_name })">
                                <img data-ng-src="{{ avatarUrl }}/{{ user.avatar }}" alt="..." class="b b-3x b-white">
                                <div class="h3 font-thin m-t-sm">{{user.account_name}}</div>
                                <span>{{ numberPosts }} tweets</span>
                              </div>
                            </div>

                            <div class="hbox text-center b-t b-light">
                              <a href="" class="col padder-v text-muted b-r b-light">
                                <div class="h4">5032</div>
                                <span>Abonnements</span>
                              </a>
                              <a href="" class="col padder-v text-muted">
                                <div class="h4">689</div>
                                <span>Abonnés</span>
                              </a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-12">

                    </div>
                </div>
                <!-- /user information -->

                <!-- timeline content -->
                <div class="col-md-6">

                    <div ng-show="isOpen" class="animated fadeInUp">
                        <textarea name=""
                                  class="form-control"
                                  rows="4"
                                  style="border:1px solid rgba(0,132,180,0.25);"
                                  ng-model="post.content"
                                  maxlength="150">
                        </textarea>

<!--                        <p class="pull-left">{{ maxLength - post.content.length }} caractères restants</p>-->

                        <form action="/file/upload" upload-picture id="my-dropzone">
                            <div class="dz-default dz-message">Ajoutez votre photo profil ici</div>
                            <input type="hidden" value="{{owner}}" name="owner" id="owner"/>
                            <input type="hidden" value="{{parent}}" name="parent" id="parent"/>
                        </form>

                        <button class="btn btn-info pull-right m-t m-b"
                                data-ng-click="create(post)"
                                ng-disabled="!post.content">
                            <i class="fa fa-send-o"></i>
                            Tweeter</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="panel item">
                        <div class="list-group list-group-lg list-group-sp animated fadeInDownBig"
                             ng-repeat="post in posts | orderBy: '-created_at'">
                            <a herf="" class="list-group-item clearfix ">
                                  <i class="fa fa-clock-o pull-right" style="margin-top:4px;"></i>
                                  <span class="pull-right" am-time-ago="post.created_at">

                                  </span>
                                  <span class="pull-left thumb-sm avatar m-r">
                                    <img data-ng-src="{{avatarUrl}}/{{post.user.avatar}}" alt="...">
                                    <i class="on b-white right"></i>
                                  </span>
                                  <span class="clear">
                                    <span class="h5">{{post.user.account_name}}</span>
                                    <small class="text-muted clear text-ellipsis h4">
                                    {{post.content}}
                                    </small>
                                  </span>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /timeline content -->


                <div class="col-md-3">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">

                      <h4 class="font-thin m-t-none m-b-none text-muted">Personnes à suivre</h4>
                    </div>
                    <ul class="list-group list-group-lg m-b-none">
                      <li class="list-group-item animated fadeInRightBig"
                          ng-repeat="result in results"
                          >
                        <a href="" class="thumb-sm m-r">
                          <img src="img/a1.jpg" class="r r-2x">
                        </a>
               <!--         <button class="btn btn-default inline pull-right"
                                data-ng-click="results.splice($index,1)">
                        <i class="fa fa-user"></i>
                        Suivre</button>-->


                          <button class="btn btn-default pull-right"
                                  ui-toggle-class="btn-success"
                                  data-ng-click="results.splice($index,1)">
                              <i class="fa fa-user text"></i>
                              <span class="text">Suivre</span>
                              <i class="fa fa-check text-active"></i>
                              <span class="text-active">Suivi</span>
                          </button>
                        <a href="">Damon Parker</a>
                      </li>

                    </ul>
     <!--               <div class="panel-footer">
                      <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Tout afficher</button>
                    </div>-->
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>