
<div class="hbox">
    <div class="wrapper">
        <div class="col timeline">
            <div class="row">
                <!-- user information -->
                <div class="col-md-3 animated fadeUp">
                    <div class="col-md-12">
                        <div class="panel b-a">
                            <div class="panel-heading bg-info dk no-border wrapper-lg">

                            </div>
                            <div class="text-center m-b clearfix">
                              <div class="thumb-lg avatar m-t-n-xxl">
                                <img src="img/default_avatar.png" alt="..." class="b b-3x b-white">
                                <div class="h4 font-thin m-t-sm">Jacobs Simon</div>
                              </div>
                            </div>

                            <div class="hbox text-center b-t b-light">
                              <a href="" class="col padder-v text-muted b-r b-light">
                                <div class="h4">5032</div>
                                <span>Abonnements</span>
                              </a>
                              <a href="" class="col padder-v text-muted">
                                <div class="h4">689</div>
                                <span>Abonnés</span>
                              </a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-12">

                    </div>
                </div>
                <!-- /user information -->

                <!-- timeline content -->
                <div class="col-md-6">

                </div>
                <!-- /timeline content -->


                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>