<style>
    .hbox .col{display: table-cell}
    .dropzone{
        border:1px dashed black;
        padding:20px;
    }
</style>
<div class="hbox">
    <div class="wrapper">
        <div class="col timeline">
            <div class="row">
                <!-- user information -->
                <div class="col-md-3 animated fadeInLeftBig hidden-xs">
                    <div class="col-md-12">
                        <div class="panel b-a">

                            <div class="panel-heading bg-info dk no-border wrapper-lg"></div>
                            <div class="text-center m-b clearfix">
                              <div class="thumb-lg avatar m-t-n-xxl" data-ui-sref="app.profile({ name: user.account_name })">
                                <img data-ng-src="{{ avatarUrl }}/{{ user.avatar }}" alt="..." class="b b-3x b-white avatar-medium">
                                <div class="h3 font-thin m-t-sm">{{user.account_name}}</div>
                                <span>{{ numberPosts }} tweets</span>
                              </div>
                            </div>

                            <div class="hbox text-center b-t b-light">
                              <a data-ui-sref="app.following({name: user.account_name })"" class="col padder-v text-muted">
                                <div class="h4">{{numberFollowers}}</div>
                                <span>Abonnés</span>
                              </a>
                              <a data-ui-sref="app.followers({name: user.account_name })" class="col padder-v text-muted b-r b-light">
                                <div class="h4">{{numberFollowings}}</div>
                                <span>Abonnements</span>
                              </a>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-12">

                    </div>
                </div>
                <!-- /user information -->

                <!-- timeline content -->
                <div class="col-md-6">

                    <div ng-show="isOpen" class="animated fadeInUp">
                        <textarea name=""
                                  class="form-control"
                                  rows="4"
                                  style="border:1px solid rgba(0,132,180,0.25);"
                                  ng-model="post.content"
                                  placeholder="Ecrivez votre tweet ici..."
                                  maxlength="150">
                        </textarea>


                        <form action="/posts/new" upload-picture id="my-dropzone" class="dropzone m-t">
                            <div class="dz-default dz-message">Glissez une image avec votre tweet!</div>
                            <input type="hidden" value="{{post.content}}" name="post" id="post"/>
                        </form>

                        <button class="btn btn-info pull-right m-t m-b"
                                id="tweetB"
                                ng-disabled="!post.content">
                            <span>{{ maxLength - post.content.length }}</span>
                            Tweeter</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="panel item">
                        <div class="list-group list-group-lg list-group-sp animated fadeInDownBig"
                             ng-repeat="tweet in posts | orderBy: '-created_at'">
                            <a herf="" class="list-group-item clearfix ">
                                  <i class="fa fa-clock-o pull-right" style="margin-top:4px;"></i>
                                  <span class="pull-right" am-time-ago="tweet.created_at">

                                  </span>
                                  <span class="pull-left thumb-sm avatar m-r">
                                    <img class="avatar-small" data-ng-src="{{avatarUrl}}/{{tweet.user.avatar}}" alt="...">
                                    <i class="on b-white right"></i>
                                  </span>
                                  <span>
                                    <span class="h5">{{tweet.user.account_name}}</span>

                                  </span>

                                   <p class="h4 tweet-content">{{tweet.content}}</p>
                                   <center>
                                        <img data-ng-src="http://localhost:3000/uploads/{{tweet.image}}"
                                             alt="Post image"
                                             class="m-t tweet-img"
                                             height="200" width="250" ng-if="tweet.image !== null"/>
                                    </center>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /timeline content -->


                <div class="col-md-3">
                <div class="panel no-border animated fadeInRightBig">
                    <div class="panel-heading wrapper b-b b-light">

                      <h4 class="font-thin m-t-none m-b-none text-muted">Personnes à suivre</h4>
                    </div>
                    <ul class="list-group list-group-lg m-b-none">
                      <li class="list-group-item"
                          ng-repeat="person in persons"
                          >
                        <a href="" class="thumb-sm m-r">
                          <img data-ng-src="{{avatarUrl}}/{{person.avatar}}" class="r r-2x avatar-small">
                        </a>

                          <!-- FOLLOW button -->
                          <button class="btn btn-default pull-right"
                                  ng-if="!person.is_following"
                                  ui-toggle-class="btn-success"
                                  data-ng-click="follow(person)">
                              <i class="fa fa-user text"></i>
                              <span class="text">Follow</span>
                              <i class="fa fa-check text-active"></i>
                              <span class="text-active">Suivi</span>
                          </button>

                          <!-- UNFOLLOW button -->
                          <button class="btn btn-default pull-right"
                                  ng-if="person.is_following"
                                  ui-toggle-class="btn-success"
                                  data-ng-click="unFollow(person)">
                              <i class="fa fa-user text"></i>
                              <span class="text">Unfollow</span>
                              <i class="fa fa-check text-active"></i>
                              <span class="text-active">Suivi</span>
                          </button>

                        <a href="">{{person.account_name}}</a>
                      </li>

                    </ul>
     <!--               <div class="panel-footer">
                      <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Tout afficher</button>
                    </div>-->
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>